




header nav ul{
    align-items: center;
    display: flex;
}

.menu-diferente {
    background: rgba(131, 131, 131, 0) 
    transition: all -0.4s;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin-top: 20px;
    

    text-decoration:none;
    color: #fff;
    transition: .4s ease all;
}
header .container a:hover{
    color: #aaa;
}

ul li {
    display: inline;
}
.menu2 li{
    display: inline;
}

header nav a{
    text-decoration:none;
    color: #fff;
    margin-left: 15px;
    transition: .4s ease all;
}

header nav a:hover{
    color: #aaa;
}
















