:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: Helvetica;
    font-size: 16px;
    color: #fff;
}
/*-----------------------------------------*/
header{
    min-height: 65px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color:var(--preta);
    display: inline;
    }

    ul li {
        display: inline;
    }

    .menu2 a{
        display: inline;
    }
    
    .header{
        display: inline;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        margin-top: 20px;
        
    
        text-decoration:none;
        color: #fff;
        transition: .4s ease all;
    }
    header .container a:hover{
        color: #aaa;
    }

header .logo{
    margin-right: 33px;
    height: 40px;
}

.perfil{
    margin-right: 30px;
    height: 25px;
    border-radius: 2px;
}

.menu-diferente{
    background: rgba(131, 131, 131, 0)
}

/*------------FILME PRINCIPAL---------------*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa-outlander.jpg');

    height: 400px;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.detalhes {
    margin-top: 16px;
    font-size: 16px;
    margin-bottom: 10px;
}

.detalhes a{
    color: white;
    text-decoration: none;
}


.tituloimage{
    width: 50%;
    height: auto;
    padding: 25px;
    border: 0;
}

.botao{
    background-color: rgba(109,109,110,0.7);
    border: none;
    color: white;
    border-radius: 5px;
    opacity: 1;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .4s ease all;
}

.botao:hover{
    background-color: white;
    color:black
}

.botao i{
    margin-right: 8px;
}

.box-filme .box-serie .box-doc{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrossel-filmes .carrossel-doc .carrossel-series{
    margin-top: 5px;
}

.h3{
    font-family: Helvetica;
}

.sessao{
    font-size: 18px;
}

.container{
    margin-left: 50px;
}

.container a:hover{
    color: #aaa;
    transition: .4s ease all;}

.filme-principal .container{
    width: 60%;
}

